@model IEnumerable<StudentAgenda.Areas.Class.Models.Classes>

@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="Class" asp-controller= "Class" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    <a asp-area="Class" asp-controller= "Class" asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-area="Class" asp-controller= "Class" asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-area="Class" asp-controller= "Class" asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
